<div class="clearBoth">&nbsp;</div>
<div class="back_lnk_url">
	<%= link_to image_tag("back.png"), contents_url %>
</div>

<div class="">
	<%= form_for(@o_single) do |f| %>
		
		<table class="table table-condensed" width="100%">
			<tr>
				<td width="45%">
					  	
		  	<% if current_user.is_facebook_user? %>
			    <div class="field">
			      <h4 class="fontContentShare"><%= t("general.share_content") %>: <p style="float: right;"></p> </h4>
			    </div>
					<%= f.text_area :content_text, :class => 'wysihtml5 textArea', :readonly => "true" %>
		    <% end %>
      
	    	<% if current_user.is_twitter_user? %>
			    <div class="field">
			      <h4 class="fontContentShare"><%= t("general.share_content") %>: <p style="float: right;"></p> </h4>
			    </div>
					<%= f.text_area :content_text, :class => 'wysihtml5 textArea', :readonly => "true" %>
	      <% end %>
    	
    </td>	
    <td width="10%">&nbsp;</td>
    <td width="45%">	
  		
  		<div class="fb-root" id="fb-root"></div>
				<table class="table table-condensed" width="100%">
					
					<tr>
						<td width="100%" colspan="3"><h4 class="fontContentShare"><%= t("general.share_content_directly_to_networks") %></h4></td>
					</tr>
					<tr>
						<td width="100%" colspan="3">&nbsp;</td>
					</tr>					
					<tr>
						<td width="100%" colspan="3">
	  					<!-- facebook -->
	  					<span class="fontSocialIcon"><%= t("general.share_on_facebook") %></span>
							<a onclick="Share.facebook('','<%= @o_single.content_text.html_safe unless @o_single.content_text.blank? %>', '', '<%= @o_single.subject %>')"><%= image_tag "facebook.jpeg", :width => "60px" %></a>	  					
						  <span id="spinner" style="display: none;">
						    <%= image_tag "loading.gif" %>
						  </span>  		
						</td>
					</tr>	
					<tr>
						<td width="100%" colspan="3">
	  					<!-- twitter -->
	  						<span class="fontSocialIcon"><%= t("general.share_on_twitter") %></span>
								<a onclick="Share.twitter('','<%= @o_single.content_text.html_safe unless @o_single.content_text.blank? %>')"><%= image_tag "twitter.png", :width => "60px" %></a>
						</td>	
					</tr>
					<tr>	
						<td width="100%" colspan="3">	
							<!-- google -->
			    		<span class="fontSocialIcon"><%= t("general.share_on_google") %></span>
							<a onclick="Share.google('<%= @o_single.content_text.html_safe unless @o_single.content_text.blank? %>')"><%= image_tag "google.png", :width => "60px" %></a>
	  				</td>
  				</tr>
  			</table> 
  		</td>
		</tr>
	</table>  			 
<% end %>
<div class="clearb">&nbsp;</div>
</div>


<script type="text/javascript">

	$(document).ready(function () {
		Share = {
			facebook: function(purl, ptitle, pimg, text) {
				url = 'http://www.facebook.com/sharer.php?s=100';
				url += '&p[title]=' + encodeURIComponent(ptitle);
				url += '&p[summary]=' + encodeURIComponent(text);
				url += '&p[url]=' + ' ';
				url += '&p[images][0]=' + encodeURIComponent(pimg);
				Share.popup(url);
			},
			
			
			twitter: function(purl, ptitle) {
				url = 'http://twitter.com/share?';
				url += 'text=' + encodeURIComponent(ptitle);
				url += '&url=' + encodeURIComponent(purl);
				url += '&counturl=' + encodeURIComponent(purl);
				Share.popup(url);
			},
			
			google: function(purl) {
				url = 'https://plus.google.com/share?&hl=en';
				url += '&url=' + encodeURIComponent(purl);
				Share.popup(url);
			},	
			
			
			popup: function(url) {
				window.open(url,'','toolbar=0,status=0,width=626, height=436');
			}
		};
	
		FB.init({
			appId : '<%= FACEBOOK_CONSUMER_KEY %>'
		});
	});
    $(document).ready(function () {
      $('#shareonfacebook').click(function (e) {
          e.preventDefault();
          FB.ui(
              {
                  method: 'feed',
									name: 'nm',
									link: '',
									picture: '',
									description: 'desc',
                  message: 'mmm'
              }, function(response) {
								    if (response.post_id) {
								      $.ajax({
								        type: 'GET',
								        dataType: 'json',
								        data: {"access_token": "<%= session[:token] %>"},
								        url: "https://graph.facebook.com/" + response.post_id,
								        success: function(responseData) {
								        }
								     });
								    }
								});
      });
            
  	});
</script>