<h4 class="fontContentShare"><%= t("general.content_shared_on_facebook") %> (<%= @o_all_facebook.size %>) </h4>
<% if @o_all_facebook.size > 0 %>
<table class="table table-striped" width="100%">
	<thead>
		<tr>
			<th width="70%"><%= sortable "content", t("general.content") %></th>
			<th width="15%"><%= t("general.likes_count") %></th>
			<th width="10%"><%= sortable "created_at", t("general.created_at")%></th>
			<th width="5%"><%= t("general.actions") %></th>
		</tr>
	<thead>
	<tbody>
		<% @o_all_facebook.each do |o_row| %>
		<tr>
			<td><%= o_row.content %></td>
			<td><%= o_row.facebook_likes_count %></td>
			<td><%= o_row.created_at.to_s(:pretty) %></td>
			<td> <%#= link_to image_tag("edit.png", :width => "16px", :height => "16px", :title => "Edit"), edit_url_content_path(o_row) %>
			<%= link_to image_tag("delete.png", :width => "16px", :height => "16px", :title => t("general.destroy")), o_row, method: :delete, data: { confirm: t("general.are_you_sure_to_delete") } %> </td>
		</tr>
		<% end %>
	</tbody>
</table>
<div name="page" id="page"></div>
<%= will_paginate @o_all_facebook %>
<% else %>
<p>
	<%= t("general.record_not_found") %>
</p>
<div class="clearb">
	&nbsp;
</div>
<% end %>