<div class="frontform loginform">
  <%= form_for(@o_single) do |f| %>

		<%= f.hidden_field :user_url_id, :value => session[:url_id] %> 

    	
    	<% if current_user.is_facebook_user? %>
		    <div class="field">
		      <h4 class="fontContentShare"><%= t("general.share_content") %>:</h4>
		      <% if @o_single.errors[:content].any? %>
		        <span class="text-error"><%= @o_single.errors[:content].first %></span>
		      <% end %>
		    </div>
		    <%= f.text_area :content, :id => 'data_content', :class => "data_content", :value => '', :style => "width: 380px; height: 138px;" %>
		    
		    <div class="field">    	
	    		<%= f.hidden_field :is_facebook_shared, :value => true %>
	      	<%= f.submit t("general.share_on_facebook"), :class => 'btn btn-info' %>
	      </div>	
      <% end %>
      
      
      
    	<% if current_user.is_twitter_user? %>
		    <div class="field">
		      <h4 class="fontContentShare"><%= t("general.share_content") %></h4>
		      <% if @o_single.errors[:content].any? %>
		        <span class="text-error"><%= @o_single.errors[:content].first %></span>
		      <% end %>
		    </div>
		    <%= f.text_area :content, :id => 'data_content', :class => "data_content", :value => '', :style => "width: 380px; height: 138px;" %>
		    
		    <div class="field">    	
	    		<%= f.hidden_field :is_twitter_shared, :value => true %>
	      	<%= f.submit t("general.tweet_on_twitter"), :class => 'btn btn-info' %>
      	</div>	
      <% end %>
      
      
      
    	<% if current_user.is_google_user? %>
    		<%= f.hidden_field :is_google_shared, :value => true %>
    	<% end %>
    	
    	<div class="clearb">&nbsp;</div>
    	
  		<h4 class="fontContentShare"><%= t("general.share_content_directly_to_networks") %></h4>
  		<div class="fb-root" id="fb-root"></div>
  			<ul>
  				<li>
  					<!-- facebook -->
  					<span class="fontSocialIcon"><%= t("general.share_on_facebook") %></span>
  					<a id="shareonfacebook"> <%= image_tag "facebook.jpeg", :width => "60px" %></a>
  				</li>
  				
  				<hr />
  				
  				<li>	
  					<!-- twitter -->
  						<span class="fontSocialIcon"><%= t("general.share_on_twitter") %></span>
							<a onclick="Share.twitter('http://<%= @user_url.url_name %>','<%= @user_url.title %>')"><%= image_tag "twitter.png", :width => "60px" %></a>
  				</li>
  				
  				<hr />
  				
  				<li>
		    		<!-- google -->
		    		<span class="fontSocialIcon"><%= t("general.share_on_google") %></span>
						<a onclick="Share.google('<%= @user_url.url_name %>')"><%= image_tag "google.png", :width => "60px" %></a>
  				</li>		  				
  			</ul>   
  			
  			 
  <% end %>
  <div class="cl"></div>
</div>


<script type="text/javascript">

	Share = {
		facebook: function(purl, ptitle, pimg, text) {
			url = 'http://www.facebook.com/sharer.php?s=100';
			url += '&p[title]=' + encodeURIComponent(ptitle);
			url += '&p[summary]=' + encodeURIComponent(text);
			url += '&p[url]=' + encodeURIComponent(purl);
			url += '&p[images][0]=' + encodeURIComponent(pimg);
			Share.popup(url);
		},
		
		
		twitter: function(purl, ptitle) {
			url = 'http://twitter.com/share?';
			url += 'text=' + encodeURIComponent(ptitle);
			url += '&url=' + encodeURIComponent(purl);
			url += '&counturl=' + encodeURIComponent(purl);
			Share.popup(url);
		},
		
		google: function(purl) {
			url = 'https://plus.google.com/share?&hl=en';
			url += '&url=' + encodeURIComponent(purl);
			Share.popup(url);
		},	
		
		
		popup: function(url) {
			window.open(url,'','toolbar=0,status=0,width=626, height=436');
		}
	};
</script>


<script src="https://connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript">

		FB.init({
			appId : '<%= FACEBOOK_CONSUMER_KEY %>'
		});

    $(document).ready(function () {
        $('#shareonfacebook').click(function (e) {
            e.preventDefault();
            FB.ui(
                {
                    method: 'feed',
										name: '<%= @user_url.title %>',
										link: '<%= @user_url.url_name %>',
										picture: '<%= "#{BASE_URL}/#{@user_url.image}" %>',
										description: '<%= @user_url.desc %>',
                    message: ''
                }, function(response) {
									    if (response.post_id) {
									      $.ajax({
									        type: 'GET',
									        dataType: 'json',
									        data: {"access_token": "<%= session[:token] %>"},
									        url: "https://graph.facebook.com/" + response.post_id,
									        success: function(responseData) {
												      $.ajax({
												        type: 'GET',
												        dataType: 'json',
												        data: {"post_id": response.post_id, "content": responseData.message},
												        url: "/facebook/add_post_id",
												        success: function(responseData) {
												        	alert("Content has been shared successfully on facebook");
												        }
												     });
									        	//alert(JSON.stringify(responseData, null, "\t"));
									        }
									     });
									    }
									});
        });
            
  });
</script>