<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<%= @result %>

<h3 style="text-align: center;"><a><%= @user_url.url_name %></a></h3>

<div class="back_lnk_url">
	<%= link_to image_tag("back.png"), user_urls_url %>
</div>

<hr />


<table class="table table-condensed" width="100%">
	<tr>
		<td width="70%">
			<div data-no-turbolink>
				<!--<iframe width="100%" height="500" src="//<%#= @user_url.url_name %>" id="myiframe" name='myiframe' frameborder="0"></iframe>-->
					<%= form_for @o_single, :url => url_contents_path(:id => params[:id]), :method => "post" do |f| %>
					  <div class="field">
					    <%= t("general.url_name") %><span class="redStart">*</span><b><%= t("general.url_example")%></b>
					  </div>
					  <div class="field">
							<%= f.text_field :url_name, :value => session[:user_url] %>
							<%= f.submit t("general.submit"), :class => 'btn btn-info' %>      
					  </div>
					<% end %>
					<div id="myModal" class="reveal-modal">
				     <h1 class="fontContentShare" style="color: #0088CC; text-align: center;"><%= t("general.select_content_popup_header") %></h1>
				     <hr />
				     <p><%= @contact_body.html_safe unless @contact_body.blank? %></p>
				     <a class="close-reveal-modal">&#215;</a>
					</div>
			<div>
		</td>
		<td width="10%">
			&nbsp;
		</td>
		<td width="20%"><%= render 'form' %></td>	
	</tr>
</table>			

<div class="clearb">&nbsp;&nbsp;</div>

<%= render "facebook" %>


<script language=javascript>


$(function ()
{
	
    $("a[rel='next']").click(function() {
    		setTimeout(function(){
    			$("#page").attr("tabindex",-1).focus();
    		},500)
    });
    
    $("a[rel='prev start']").click(function() {
    		setTimeout(function(){
    			$("#page").attr("tabindex",-1).focus();
    		},500)
    });    
        
});

	if(!window.Kolich){
	  Kolich = {};
	}
	
	Kolich.Selector = {};
	Kolich.Selector.getSelected = function(){
	  var t = '';
	  if(window.getSelection){
	    t = window.getSelection();
	  }else if(document.getSelection){
	    t = document.getSelection();
	  }else if(document.selection){
	    t = document.selection.createRange().text;
	  }
	  return t;
	}
	
	Kolich.Selector.mouseup = function(){
		
	  var st = Kolich.Selector.getSelected();
	  
	  if(st!=''){
	  	var parent = $(window.parent.document);
	  	$(parent).find('textarea#data_content').val($('textarea#data_content').val() + " " + st);
			//var dstFrame = $(parent).find('.cke_wysiwyg_frame').contents().find('body').append(""+st+"");
	  }
	}
	
	$(document).ready(function(){
	  $(document).bind("mouseup", Kolich.Selector.mouseup);
	 	setTimeout(function(){
			$('#myModal').reveal();
 		},3000)  	  
	  
	  
	  //$('#myiframe').load(function() {
	  	//alert($('#myiframe').attr('src'));
    
	 // });
	  
	});

</script>