<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<%= @result %>

<h3 style="text-align: center;"><a><%= @user_url.url_name %></a></h3>

<div class="back_lnk_url">
	<%= link_to image_tag("back.png"), user_urls_url %>
</div>

<hr />


<table class="table table-condensed" width="100%">
	<tr>
		<td width="70%">
			
			<iframe width="100%" height="500" src="//<%= @user_url.url_name %>" id="uf" name='uf' frameborder="0"></iframe>
			<!--<div style="margin: 0 auto; width:100%; height:500px;">
			    <object type="text/html" data="//<%#= @user_url.url_name %>" style="width:100%; height:500px; margin:1%;"></object>
			</div>-->
			<div>
				
			<div id="myModal" class="reveal-modal">
			     <h1 class="fontContentShare" style="color: #0088CC;">Select contents and it will drop to content area automatically..!!</h1>
			     <hr />
			     <p><%= @contact_body.html_safe %></p>
			     <a class="close-reveal-modal">&#215;</a>
			</div>				

		</td>
		<td width="10%">
			<a href="#" data-reveal-id="myModal" class="selectContentLnk" >Click here to select contents</a>
		</td>
		<td width="20%"><%= render 'form' %></td>	
	</tr>
</table>			

<div class="clearb">&nbsp;&nbsp;</div>

<%= render "facebook" %>


<script language=javascript>


$(function ()
{
	
    $("a[rel='next']").click(function() {
    		setTimeout(function(){
    			$("#page").attr("tabindex",-1).focus();
    		},500)
    });
    
    $("a[rel='prev start']").click(function() {
    		setTimeout(function(){
    			$("#page").attr("tabindex",-1).focus();
    		},500)
    });    
        
});

if(!window.Kolich){
  Kolich = {};
}

Kolich.Selector = {};
Kolich.Selector.getSelected = function(){
  var t = '';
  if(window.getSelection){
    t = window.getSelection();
  }else if(document.getSelection){
    t = document.getSelection();
  }else if(document.selection){
    t = document.selection.createRange().text;
  }
  return t;
}

Kolich.Selector.mouseup = function(){
	
  var st = Kolich.Selector.getSelected();
  
  if(st!=''){
  	var parent = $(window.parent.document);
  	//var dstFrame = $(parent).find('.cke_wysiwyg_frame').contents().find('body').append(""+st+"");
  	$(parent).find('textarea#data_content').val($('textarea#data_content').val() + " " + st);
  }
}

$(document).ready(function(){
  $(document).bind("mouseup", Kolich.Selector.mouseup);
	//setTimeout(function(){
		//$('#myModal').reveal();
	//},1000);  
});

$('#uf').load(function(){
	//var iframe = parent.document.getElementById("uf");
	//var innerDoc = iframe.contentDocument || iframe.contentWindow.document;
	//var currentFrame = innerDoc.location.href;
  //alert(currentFrame);
});

</script>