<div class="">
  <table border=0 width="100%" class="table dashboard">  
    <tr valign="top">
      <td align=left valign=top width="50%">
        <h4><%= t("general.take_control_of_your_cv") %></h4>
        <p>&nbsp;</p>
        <p class="padLeft30"># <%= t("general.import_your_linkedin_profile") %></p>        
        <p class="padLeft30"># <%= t("general.try_out_various_cv_templates") %></p>
        <p class="padLeft30"># <%= t("general.control_who_see_it") %></p>
        <p class="padLeft30"># <%= t("general.vine_your_interview_answers") %></p>
        <span><%= link_to t("general.view_all_features"), "features", :class => "" %></span>    
      </td>
      
      <td align="left" valign="" width="50%">
        <iframe width="420" height="315" src="//www.youtube.com/embed/AyPzM5WK8ys" frameborder="0" allowfullscreen></iframe>
      </td>
    </tr>
  </table>
</div>