<div class="">
  <%= form_for @o_single, :url => change_password_path do |f| %>
    <div class="field">
      <%= t("general.new_password") %>
      <% if @o_single.errors[:password].any? %>
        <span class="text-error"><%= t(@o_single.errors[:password].first) %></span>
      <% end %>
    </div>
    <%= f.password_field :password %>
  
    <div class="field">
        <%= t("general.password_confirmation") %>
    <% if @o_single.errors[:password_confirmation].any? %>
      <span class="text-error"><%= t(@o_single.errors[:password_confirmation].first) %></span>
    <% end %>
    </div>
    <%= f.password_field :password_confirmation %>
    
     <div class="field">
      <%= f.submit t("general.save"), :class => 'btn btn-info' %>
      <%= link_to t("general.back"), users_path, :class => "btn btn-info" %>
    </div>
  <% end %>
  <div class="cl"></div>
</div>
