<div class="">
<h3><%= t("general.reset_password") %></h3>
<%= form_for(@user, :url => forgot_password_path) do |f| %>

  <% if flash[:forgot_pass_error] %>
    <div class="alert-error" id="flash_msg_error">
      <%= flash[:forgot_pass_error] %>
    </div>
  <% end %>
 
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :class => "input-xlarge" %>
  </div>

  <div class="button">
    <%= f.submit t("general.reset_password"), :class => 'btn btn-info' %>
    <%= link_to t("general.back"), '/', :class => 'btn btn-info' %>

  </div>
<div class="cl"></div>
<% end %>

<script type="text/javascript">
  $("#user_email").focus();
</script>
</div>
