<h3><%= t("general.send_cv_and_invite_to_user") %></h3>
<div class="">
  <%= form_for(@user, :url => invite_path) do |f| %>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email, :class => "input-xlarge" %>
    </div>
  
    <div class="button">
      <%= f.button t("general.send"), :class => 'btn btn-info', :id => "invite_btn" %>      
      <%= link_to t("general.back"), feedbacks_path, :class => 'btn btn-info' %>
    </div>
    <span id="spinner" style="margin: -29px 0 0 147px; float: left; display: none;">
      <%= image_tag "loading.gif" %>
    </span>      
    <div class="cl"></div>
  <% end %>
</div>