<table class="table">
    <tr>
      <td>
        
        <div style="float:left;width:100%;">
          <% @user.cv.cv_experiences.load.to_a.each do |row| %>
            <h3><%= row.job_title %></h3>
            <h4><strong><%= t("general.company") %>: </strong><%= row.company_name %></h4>
            <p><%= row.description %></p>
            <% if row.from %>
              <p><strong><%= t("general.from") %>: </strong><%= row.from.to_s(:month_and_year) %></p>
            <% end %>
            <% if row.to %>
              <p><strong><%= t("general.to") %>: </strong><%= row.to.to_s(:month_and_year) %></p>
            <% end %>
            <hr />
          <% end %>
        </div>
      </td>
    </tr>
</table>

<p style="float:right;">
  <%= link_to t("general.back"), "#", :class => "btn btn-info", :id => "stepform11" %>
  <%= link_to t("general.next"), "#", :class => "btn btn-info", :id => "stepform33" %>
</p>