<table class="table">
    <tr>
      <td>
        <div style="float:left;">
          
          <p>
            <%= image_tag @user.cv.picture_filename %>
            <% if current_user.mobile.nil? %>
              <span class="contactInfoErr"><%= t("general.no_contact_info") %></span>
            <% end %>    
            <div class="clearb">&nbsp;</div>        
            <h4>
              <%= "#{@user.first_name} #{@user.last_name}" %>
              <% unless @user.headline.blank? %>
                - <%= @user.headline %>
              <% end %>              
            </h4>
          </p>
          <p><b><%= t("general.email") %>: </b><%= @user.email %></p>
          <% unless current_user.mobile.nil? %>
            <p><b><%= t("general.contact") %>: </b><%= @user.mobile %></p>
          <% end %>  
          <% unless @user.birthdate.blank? %>
            <p><b><%= t("general.birthdate") %>: </b><%= Date.parse(@user.birthdate).strftime('%e-%b-%Y') %></p>
          <% end %>
          <% unless @user.address.blank? %>
            <p><b><%= t("general.address") %>: </b><%= @user.address %></p>
          <% end %>          
          <%= @user.cv.summary %>
        </div>
      </td>
    </tr>
</table>

<p style="float:right;">
  <%= link_to t("general.next"), "#", :class => "btn btn-info", :id => "stepform22" %>
</p>