
  
  <%= form_for @o_url_content, :url => send_content_path, :method => "post" do |f| %>

		<%= f.hidden_field :user_url_id, :value => session[:url_id] %> 
    	
    	<% if current_user.is_facebook_user? %>
		    <div class="field">
		      <h4 class="fontContentShare"><%= t("general.share_content") %>:</h4>
		      <% if @o_url_content.errors[:content].any? %>
		        <span class="text-error"><%= @o_url_content.errors[:content].first %></span>
		      <% end %>
		    </div>
		    <%= f.text_area :content, :id => 'data_content', :class => "data_content", :value => '' %>
		    
		    <div class="field">    	
	    		<%= f.hidden_field :is_facebook_shared, :value => true %>
	      	<%= f.submit t("general.share_on_facebook"), :class => 'btn btn-info', :id => 'tweet_facebook_btn' %>
				  <span class="loaderSpin" id="loader">
				    <%= image_tag "loading.gif" %>
				  </span>
	      </div>	
      <% end %>
      
      
      
    	<% if current_user.is_twitter_user? %>
		    <div class="field">
		      <h4 class="fontContentShare"><%= t("general.share_content") %>:</h4>
		      <% if @o_url_content.errors[:content].any? %>
		        <span class="text-error"><%= @o_url_content.errors[:content].first %></span>
		      <% end %>
		    </div>
		    <%= f.text_area :content, :id => 'data_content', :class => "data_content", :value => '', :style => "width: 715px; height: 255px;" %>
		    
		    <div class="field">    	
	    		<%= f.hidden_field :is_twitter_shared, :value => true %>
	      	<%= f.submit t("general.tweet_on_twitter"), :class => 'btn btn-info', :id => 'tweet_facebook_btn' %>
				  <span class="loaderSpin" id="loader">
				    <%= image_tag "loading.gif" %>
				  </span>	      	
      	</div>	
      <% end %>
    	
    	<div class="clearb">&nbsp;</div>
  			 
  <% end %>
  <div class="cl"></div>



