<% if @o_all.size > 0 %>
<table class="table table-striped" width="100%">
	<thead>
		<tr>
			<th width="80%"><%= sortable "url_name", t("general.url_name") %></th>
			<th width="10%"><%= sortable "created_at", t("general.created_at")%></th>
			<th width="10%"><%= t("general.actions") %></th>
		</tr>
	<thead>
	<tbody>
		<% @o_all.each do |o_row| %>
		<tr>
			<td>
				<% if is_admin? %>
					<%= o_row.url_name %>
				<% else %>
					<div data-no-turbolink><%= link_to o_row.url_name, url_contents_url(:id => o_row.id) %></div>
				<% end %>
			</td>
			<td><%= o_row.created_at.to_s(:pretty) %></td>
			<td> <%= link_to image_tag("edit.png", :width => "16px", :height => "16px", :title => "Edit"), edit_user_url_path(o_row) %>
			<%= link_to image_tag("delete.png", :width => "16px", :height => "16px", :title => t("general.destroy")), o_row, method: :delete, data: { confirm: t("general.are_you_sure_to_delete") } %> </td>
		</tr>
		<% end %>
	</tbody>
</table>
<%= will_paginate @o_all %>
<% else %>
	<div class="clearb">&nbsp;</div>
		<% if is_admin? %>
			<%= t("general.record_not_found") %>
		<% else %>
			<%= render "fronts/user_dashboard" %>
		<% end %>	
	<div class="clearb">&nbsp;</div>
<% end %>