<h3 style="text-align: center;"><a><%= t("general.share_content") %></a></h3>

<div class="back_lnk_url">
	<%= link_to image_tag("back.png"), root_url %>
</div>

<hr />



<%= form_for @o_single, :url => share_content_path, :method => "post" do |f| %>
  <div class="field">
    <%= t("general.url_name") %><span class="redStart">*</span>
  </div>
  <div class="field">
		<%= f.text_field :url_name, :value => session[:user_url] %>
		<%= f.submit t("general.submit"), :class => 'btn btn-info' %>      
  </div>
<% end %>    
    
<div class="clearb">&nbsp;&nbsp;</div>
    
<% unless session[:user_url].blank? %>
	<table class="table table-condensed" width="100%">
		<tr>
			<td width="30%">
				<a href="#" data-reveal-id="myModal" class="selectContentLnk" id="tModal"><%= t("general.click_here_to_select_content") %></a>
				<div id="myModal" class="reveal-modal">
			     <h1 class="fontContentShare" style="color: #0088CC; text-align: center;"><%= t("general.select_content_popup_header") %></h1>
			     <hr />
			     <p><%= @contact_body.html_safe unless @contact_body.blank? %></p>
			     <a class="close-reveal-modal">&#215;</a>
				</div>
			</td>
			<td width="5%">&nbsp;</td>
			<td width="65%"><%= render 'extra_form' %></td>	
		</tr>
	</table>	
	<div class="clearb">&nbsp;&nbsp;</div>
<% end %>

<div class="cl"></div>

<script language=javascript>

	if(!window.Kolich){
	  Kolich = {};
	}
	
	Kolich.Selector = {};
	Kolich.Selector.getSelected = function(){
	  var t = '';
	  if(window.getSelection){
	    t = window.getSelection();
	  }else if(document.getSelection){
	    t = document.getSelection();
	  }else if(document.selection){
	    t = document.selection.createRange().text;
	  }
	  return t;
	}
	
	Kolich.Selector.mouseup = function(){
		
	  var st = Kolich.Selector.getSelected();
	  
	  if(st!=''){
	  	var parent = $(window.parent.document);
	  	$(parent).find('textarea#data_content').val($('textarea#data_content').val() + " " + st);
			//var dstFrame = $(parent).find('.cke_wysiwyg_frame').contents().find('body').append(""+st+"");
	  }
	}
	
	$(document).ready(function(){
	  $(document).bind("mouseup", Kolich.Selector.mouseup);

	});
</script>