<html>
  <head>
            
  </head>
  <body style="margin-left: 20px;font-family: arial,Helvetica,sans-serif;font-size: 13px;">
    
    <script src="<%= BASE_URL %>/get_ip_address.js"></script>
    <!--<script>alert('hi');alert(myIP());</script>-->
    <table width="900px" border="0" align="center" cellpadding="0" cellspacing="0" style="background:#f3f3f3; border:#83b1be solid 1px;">
      <tr><td><img src="<%= BASE_URL %>/readlog?tracking_pixel=<%= invite.tracking_pixel %>" width="1px" height="1px" /></td></tr>
      <tr>
        <tr><td valign="top">&nbsp;</td></tr>
        <td valign="top">
          <table  width="100%">
              <tr>
                <td width="30%" valign="top" style="text-align:center;">
                   <%= image_tag user.cv.picture_filename, :style => "width:100px;margin-top:60px;" if user.cv.picture_filename %>
                </td>
                <td width="10%">&nbsp;</td>
                <td width="60%" valign="top">
                  <h2><%= user.name %></h2>
                  <h3 style="color: grey;"><%= user.headline %></h3>
                  <% unless user_cv_data[:experiences][0].nil? %>
                    <p><strong>Current</strong>: <%= "#{user_cv_data[:experiences][0][:company_name]}" %> </p>
                  <% end %>
                  <% unless user_cv_data[:experiences][1].nil? %>
                    <p><strong>Previous:</strong>:
                      <%= previous_experiences(user_cv_data[:experiences]) %>
                  <% end %>
                  <% unless user_cv_data[:educations][0].nil? %>
                    <p><strong>Education</strong>: <%= "#{user_cv_data[:educations][0][:degree]} -  #{user_cv_data[:educations][0][:school]}" %> </p>
                  <% end %>  
                  <% if user_cv_data[:personal_info][:birthdate] != '' %>
                    <p><strong>Born</strong>: <%= Date.parse(user_cv_data[:personal_info][:birthdate]).strftime('%e-%b-%Y') %></p>
                  <% end %>                      
                </td>
              </tr>
          </table>              
        </td>
      </tr>
      <tr style="padding-left:20px; float: left;">
        <td>
          <table width="100%">
            <tr>
              <td valign="top">
                <% if user_cv_data[:summary] %>
                  <h3 style="text-decoration:underline;">Summary</h3>
                  <p style="padding-left:20px;"><%= user_cv_data[:summary] %></p>
                <% end %>  
              </td>
            </tr>
            <tr><td valign="top">&nbsp;</td></tr>
            <tr>
              <td valign="top">
                <% if user_cv_data[:experiences].count > 0 %>
                  <h3 style="text-decoration:underline;">Experiences</h3>
                  <% user_cv_data[:experiences].each do |row| %>
                  <div style="padding-left:20px;">
                    <p><strong><%= row[:job_title] %></strong></p>
                    <div style="padding-left:20px;">
                      <p><%= row[:company_name] %></p>
                      <p><%= row[:description] %></p>
                      <p><%= row[:from] %> - <%= row[:to] %></p>
                     </div> 
                  </div>  
                  <% end %>
                <% end %>    
              </td>
            </tr>
            <tr><td valign="top">&nbsp;</td></tr>
            <tr>
              <td valign="top">
                <% if user_cv_data[:skills].count > 0 %>
                  <h3 style="text-decoration:underline;">Skills</h3>
                  <% user_cv_data[:skills].each do |row| %>
                    <p style="padding-left:20px;"><%= row[:name] %></p>
                  <% end %>
                <% end %>  
              </td>
            </tr>      
            <tr><td valign="top">&nbsp;</td></tr>
            <tr>
              <td valign="top">
                <% if user_cv_data[:languages].count > 0 %>
                  <h3 style="text-decoration:underline;">Languages</h3>
                  <% user_cv_data[:languages].each do |row| %>
                    <p style="padding-left:20px;"><strong><%= row[:language] %></strong> - <%= row[:proficiency] %></p>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <tr><td valign="top">&nbsp;</td></tr>
            <tr>
              <td valign="top">
                <p><%= link_to 'Click here', "#{BASE_URL}/feedback/#{invite.tracking_pixel}", :style => "text-decoration:underline; color:#49AFCD;" %> if you wish to leave feedback.</p>
              </td>
            </tr>
            <tr>
              <td valign="top">&nbsp;</td>
            </tr>            
           </table>  
          </td>
         </tr>                      
    </table>
  </body>
</html>

