<div class="navbar navbar-fixed-top">
  <div class="">
    <div class="container-fluid">
      <%= link_to(image_tag("logo.jpeg", :alt => "Logo", :class => "brand"), "/") %>
        <div class="navbar nav-collapse">
          <ul class="nav pull-right">
            <% if current_user %>
                <li><%= link_to t("general.logged_in_as", email: current_user.username), "#", :style => "color: #000;" %></li>
                <li class="marTop9">|</li>
                <% if is_user? %>
                <li class="dropdown">
                	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><Dropdown><%= t("general.urls") %> <b class="caret"></b></a>
                	<ul class="dropdown-menu">
                		<li><%= link_to t("general.list_urls"), user_urls_url %></li>
                		<li><%= link_to t("general.add_url"), new_user_url_path %></li>
                	</ul>	
                </li>	
                	<li class="marTop9">|</li>
                  <li><%= link_to t("general.edit_profile"), edit_user_path(current_user.id)%></li>
                <% end %>  
                <% if is_admin? %>
                  <li><%= link_to t("general.edit_profile"), edit_user_path(current_user.id)%></li>
                  <li class="marTop9">|</li>
                  <li><%= link_to t("general.change_password"), change_password_path %></li>  
                <% end %>
                <li class="marTop9">|</li>
                <li><%= link_to t("general.logout"), :logout %></li>
            <% else %>
                <li><%= link_to t("general.user_login"), user_login_path %></li>
            <% end %>
          </ul>
          
          <% if current_user %>
            <% if is_admin? %>
              <ul class="nav"><li class="<%= 'active' if @users %>"><%= link_to t("general.users"), users_path %></li></ul>
              <ul class="nav"><li class="<%= 'active' if @static_pages %>"><%= link_to t("general.pages"), static_pages_path %></li></ul>
            <% end %>
          <% end %>  
        </div><!--/.nav-collapse -->
      </div>
    </div>
</div>
