<!DOCTYPE html>
<html>
<head>
  <title><%= t("general.title") %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <script type="text/javascript">$(".row-fluid input:text, #content textarea").eq(0).focus();</script>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <%= link_to(image_tag("logo.png", :alt => "Logo", :class => "brand"), "/") %>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="row-fluid"><br /><br />
        <div class="loginfom">
          <% if flash[:notice] %>
            <div class="alert-success" id="notice"><%= flash[:notice] %></div>
            <% flash[:notice] = nil %>
          <% end %>
          <%= yield %>
        </div>  
      <div>
    <div>
    <footer class="footerFront"><%= t("general.copyright_all_rights_reserved_html") %></footer>
  <div>
</body>
</html>
